@import "../../styles/variables";

.container {
  box-shadow: 0 22px 45px 0 rgba(0, 0, 0, 0.11);
  padding: $md;

  width: 100%;
  margin-bottom: $lg;
  @media (min-width: 800px) {
    margin-bottom: 0;
    width: 30%;
    margin-left: $lg;
  }
}
.image {
  margin: -30px -26px 18px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: calc(100% + 52px);
  height: 160px;
  @media (min-width: 800px) {
    height: 200px;
  }
}
.button {
  margin-top: $sm;
  padding: $sm !important;
  @include button;
}
