@import "../../styles/variables";

.title {
  width: 100%;
  margin-top: 20px;
  @media (min-width: $breakpointMd) {
    margin-top: 0;
    width: 45%;
  }
}
.teaserImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  @media (min-width: $breakpointMd) {
    width: 48%;
  }
}
.content {
  @media (min-width: $breakpointMd) {
    width: 90%;
  }
}
.button {
  @include button;
  margin-top: 20px !important;
  @media (min-width: $breakpointMd) {
    margin-top: 50px !important;
    width: 210px;
  }
}
